


#container {
     
  border: 2px solid rgb(5, 109, 39);
  margin: 75px 250px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#beginTimer {
  background-color: rgb(5, 109, 39);
  padding: 15px 32px;
  font-size: 20px;
  color: white;
  margin: 10px 250px;
  flex-direction: row;
}

#questionsDiv {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#currentTime {
  float: none;
}

#startOver {
  background-color: rgb(5, 109, 39);
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  color: white;
         
  width: auto;
  text-align: center;
  text-decoration: none;
        }

#reset {
  background-color: rgb(5, 109, 39);
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  color: white;
        
  text-align: center;
}

button {
  border-radius: 30px;
}

#Submit {
  background-color: rgb(5, 109, 39);
  margin: auto;
  padding: 15px 32px;
  font-size: 18px;
  color: white;
}

label {
  margin-right: 10px;
}

input {
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid lightgray;
}

h1 {
  text-align: center;
}

ul  {
  margin: 10px 100px 25px;
  display: flex;
  flex-direction: column;
}

li {
  background-color: rgb(5, 109, 39);
  margin-top: 10px;
  font-size: 24px;
  color: white;
}

#createDiv {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}

/* Start media queries */
/* A Media Query max-width: 786px */
@media screen and (max-width: 786px) {

  

  }
      
/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {


   
}