


#container {
     
  border: 2px solid rgb(5, 109, 39);
  margin: 75px 250px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

#beginTimer {
  background-color: rgb(5, 109, 39);
  padding: 15px 32px;
  font-size: 20px;
  color: white;
  margin: 10px auto;
  flex-direction: column;
}

#questionsDiv {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#currentTime {
  float: none;
}

#startOver {
  background-color: rgb(5, 109, 39);
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  color: white;
         
  width: auto;
  text-align: center;
  text-decoration: none;
        }

#reset {
  background-color: rgb(5, 109, 39);
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  color: white;
        
  text-align: center;
}

button {
  border-radius: 30px;
}

#Submit {
  background-color: rgb(5, 109, 39);
  margin: 20px auto;
  padding: 15px 32px;
  font-size: 18px;
  color: white;
}

label {
  display: flex;
  justify-content: space-evenly;
}

input {
  margin: auto;
  width: 25%;
  border: 1px solid lightgray;
}

h1 {
  text-align: center;
}

ul  {
  margin: 0px 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

li {
  background-color: rgb(5, 109, 39);
  margin-top: 10px;
  font-size: 24px;
  color: white;
}

#createDiv {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}

/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {

  h1 {
    font-size: medium;
    text-align: center;
  }

  #Submit {
    margin: 20px auto;
    padding: 7px 25px;
    font-size: 14px;
    color: white;
  }

}